@model IEnumerable<InvWebApp.Models.InventoryStock>
@{
    ViewData["Title"] = "Inventory";
    var materiels = (IEnumerable<InvWebApp.Models.Materiel>)ViewBag.Materiels;
    var locations = (IEnumerable<InvWebApp.Models.Location>)ViewBag.Locations;
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Inventory</h5>
        <div>
            <a class="btn btn-primary btn-sm" asp-action="Receive">Receive</a>
            <a class="btn btn-warning btn-sm" asp-action="Issue">Issue</a>
            <a class="btn btn-info btn-sm" asp-action="Transfer">Transfer</a>
            <a class="btn btn-secondary btn-sm" asp-action="Adjust">Adjust</a>
        </div>
    </div>
    <div class="card-body">
        <form class="row g-2 mb-3" method="get">
            <div class="col-md-4">
                <select class="form-control" name="materielId">
                    <option value="">All Materiels</option>
                    @foreach (var m in materiels)
                    {
                        <option value="@m.Id">@m.MaterielName</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="locationId">
                    <option value="">All Locations</option>
                    @foreach (var l in locations)
                    {
                        <option value="@l.Id">@l.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary w-100" type="submit">Filter</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Materiel</th>
                    <th>Location</th>
                    <th class="text-end">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach (var s in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@s.Materiel.MaterielName</td>
                            <td>@s.Location.Name</td>
                            <td class="text-end">@s.Quantity</td>
                        </tr>
                        ;
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
